#intro-page-header {
    height: 173px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;



    @media screen and (min-width: mobile-min) and (max-width: tablet-max) {
        margin-bottom: 21px;
        height: 157px;
    }

    .title-large {
        color: branco;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.97);
    }
}