
size-text-desktop = 16px;
// size text
size-text-mobile = 14px;
size-title-large-desk = 45px;
size-title-large-min-desk = 35px;
size-title-large-min-desk-2 = 34px
size-title-large-min-mob = 24px;
size-title-large-mob = 32px;
weight-strong = 700;
// font weight
weight-extra = 900;
weight-medium = 500;
weight-semibold = 600;
weight-normal = 400;
primaryColor = #000000;
secundaryColor = #026C79;
tertiaryColor = #F7E1B4;
// colors
primaryGrayColor = #070707;

fourthColor = #313133;
primaryTextColor = #000000;
branco = #FFFFFF;
lightgreen = #10C38B;
gelo = #D5EDF0;
lightBlue = #F5F9FF;
desktop-min = 64em;
// medias
mobile-min = 320px;
tablet-max = 63.9375em;
tablet-min = 40em;
grid-container-desktop = 1175px;
// grid
grid-container-mobile = 320px;
max-layout = 1920px;
effect-transition = transform 1s;